---
name: home
url: /
---

<div class="grid-container">
  <h2>Food List</h2>

  <form>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Title :</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="right-label" placeholder="Input any title you can think of">
          </div>
        </div>
      </div>
    </div>
  </form>

  <form>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Name of Food</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="right-label" placeholder="Input any name of a food you can think of">
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="button">Submit</a>
  </form>

  <p class="lead">Code Challenge - Sawako Ishida</p>
</div>
