---
name: home
url: /
controller: myController
---

<div class="grid-container">
  <h2>Food List</h2>
  <form name="posting" method="post">
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Title :</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="right-label" name="posting" ng-model="userInput.note_title" placeholder="Input any title you can think of">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Your User Name :</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="right-label" name="posting" ng-model="userInput.note_user_name" placeholder="Input your user name">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Name of Food</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="right-label" name="posting" ng-model="userInput.note_food_name" placeholder="Input any name of a food you can think of">
          </div>
        </div>
      </div>
    </div>
    <input type="submit" ng-click="postUserInput()" name="posting" class="button" value="Submit"></input>
  </form>
  <input type="button" ng-click="getAllData()" class="button success" value="Get All Data"></input>
  <form name="posting" method="post"><!-- Search by user field-->
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Search By User Name:</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="right-label" name="posting" ng-model="input.note_user_name" placeholder="Input user name">
          </div>
        </div>
      </div>
    </div>
  </form>
  <input type="submit" ng-click="getItemByUser(input)" class="button info" value="Get By User Name"></input>
  <form name="posting" method="post"><!-- Search by user field-->
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Delete By Id:</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="right-label" name="posting" ng-model="inputId.note_id" placeholder="Input ID number">
          </div>
        </div>
      </div>
    </div>
  </form>
  <input type="submit" ng-click="deleteById(inputId)" class="button alert" value="Delete All"></input>
  <section><!--display response from delete-->
    <p>{{resInfo.message}}</p>
  </section>
  <section ng-repeat="item in dataFromDb"><!-- Search All rendering with this form-->
    <h3>{{item.note_title}}</h3>
    <p>Id : {{item.note_id}}</p>
    <p>User Name : {{item.note_user_name}}</p>
    <p>Food : {{item.note_food_name}}</p>
  </section>
  <section ng-repeat="item in dataFromDbById"><!-- Search by user rendering with this form-->
    <h3>{{item.note_title}}</h3>
    <p>Id : {{item.note_id}}</p>
    <p>User : {{item.note_user_name}}</p>
    <p>Food : {{item.note_food_name}}</p>
  </section>

  <p class="lead">Code Challenge - Sawako Ishida</p>
</div>
