---
name: home
url: /
controller: myController
---

<div class="grid-container">
  <h2>Food List</h2>
  <form name="posting" method="post">
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Title :</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="right-label" name="posting" ng-model="userInput.note_title" placeholder="Input any title you can think of">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right">Name of Food</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="right-label" name="posting" ng-model="userInput.note_food_nmae" placeholder="Input any name of a food you can think of">
          </div>
        </div>
      </div>
    </div>
    <input type="submit" ng-click="postUserInput()" name="posting" class="button" value="Submit"></input>
  </form>
  <input type="button" ng-click="getAllData()" class="button success" value="Get All Data"></input>
  <section ng-repeat="item in dataFromDb">
    <h3>{{item.note_title}}</h3>
    <p>{{item.note_food_nmae}}</p>
  </section>

  <p class="lead">Code Challenge - Sawako Ishida</p>
</div>
